<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>{{ title }}</title>
</head>

<body>

    <div class="column-layout">
        <div class="main-column">
            <label for="add">Create Entry:</label>
            <form id="add" method="post">
                <input type="text" name="id" required placeholder="id *required">
                <input type="text" name="name" placeholder="item">
                <input type="text" name="price" placeholder="price">
                <button type="submit">Add</button>
            </form>
        </div>

        <div class="sidebar1">
            <label for="delete">Remove:</label>
            <form action="/delete" id="delete" method="post">
                <input type="text" name="del" required placeholder="id">
                <button type="submit">Delete</button>
            </form>
        </div>

        <div class="sidebar2">
            <label for="update">Update:</label>
            <form action="/update" id="update" method="post">
                <input type="text" name="old_id" placeholder="old id *required" required>
                <input type="text" name="new_id" placeholder="new id">
                <input type="text" name="edit_name" placeholder="item">
                <input type="text" name="edit_price" placeholder="price">
                <button type="submit">Edit</button>
            </form>
        </div>
    </div>

    <div class="error-msg">
        <ul class="flash-messages">
            {{#each sessionFlash}}
            <li class="flash-message {{ @key }}">{{ this }}</li>
            {{/each}}
        </ul>
    </div>

    <table id="indextable">
        <thead>
            <tr>
                <th>
                    <a href="javascript:sortTable(0,'N');" title="Sort By ID">ID</a>
                </th>
                <th>
                    <a href="javascript:sortTable(1,'T');" title="Sort By Name">NAME</a>
                </th>
                <th>
                    <a href="javascript:sortTable(2,'N');" title="Sort By Price">PRICE</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>


    <script src="sortTable.js"></script>
</body>

</html>